


.label-subcategory{
    margin: 30px 60px 30px;
    margin-top: 50px;
    font-weight: bolder;
    
}

.input-name{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    margin: 50px 50px 50px 50px;
}


/* CSS FOR HEADING */
