#dash{
    padding: 150px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}
#dash div{
    text-align: center;padding-top: 7%;
    height: 250px;
    width: 250px;
    box-shadow: 3px 3px 6px #43523530, 6px 6px 12px #43523530, -3px -3px 6px #43523530, -6px -6px 12px #43523530;
    border-radius: 5px;
}