@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Pacifico&display=swap');

.tablinks img{
  margin: auto;
}
#ship-details{
  margin: 30px auto;
}
#ship-details h3{ 
  text-align: center;
}
.details-body{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.details-body form{
  width: 600px;
  height: 500px;
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.details-body button{
  cursor: pointer;
  font-size: 1em;
  background-color: black;
  color: #ed0808;
  border-radius: 3px;
}
.details-body button:hover{
  color: white;
}
.details-body label{
  font-size: 1.2em;
  color: #ed0808;
}
.details-body input{
  width: 400px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.1em;
}
.details-body input:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}
.details-body input:active{
  background-color: #eee;
  color: #ed0808;
}
#shipping-invoice{
  padding: 30px;
  width: 300px;
  height: 250px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: inset 3px 3px 6px #44444420,
              inset -3px -3px 6px #44444420,
              inset -3px 3px 6px #44444420,
              inset 3px -3px 6px #44444420;
}
.pay-container{
  margin: 30px auto;
  font-family: 'Barlow';
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-align{
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tablinks{
  margin: 1em;
  border: none;
  width: 70px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease
}
.tablinks > img{
  display: block;
  margin: auto;
}
.tablinks:hover > img{
  transform: scale(1.1);
  transition: transform .5s ease;
}
.tablinks.active-tab{
  width: 200px;
  margin: 0;
  border-radius: 5px;
  background-color: #000;
  transition: all .5s ease;
}
#pay_options{
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: inset 3px 3px 6px #00000020,
              inset -3px -3px 6px #00000020,
              inset -3px 3px 6px #00000020,
              inset 3px -3px 6px #00000020,
              3px 3px 6px #00000020,
              -3px -3px 6px #00000020,
              -3px 3px 6px #00000020,
              3px -3px 6px #00000020;
  width: 70%;
}
.tabcontent{
  display: none;
}
.tabcontent button{
  cursor: pointer;
  background-color: #ed0808;
  color: white;
  width: 15%;
  height: 30px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
.tabcontent button:hover{
  background-color: #fff;
  color: #000;
  box-shadow: 3px 3px 5px #00000020,
              -3px -3px 5px #00000020;
  transition: all .1s linear;
}
#pay_mpesa{
  display: block;
}
.formpanel{
  display: flex;
}
#pay_mpesa input{
  width: 15%;
  margin-left: 5px;
}
#pay_visa label{
  display: flex;
  align-self: center;
  height: .6em;
}
#pay_visa input{
  margin: 0 2em;
  width: 90%;
  height: 1.5em;
}
#pay_cash, #pay_mpesa{
  line-height: 30px;
}
#pay_cash input[type='text']{
  width: 50%;
}

.main{
  text-align: center;
  font-family: 'Pacifico';
  font-size: 30px;
  padding-top: 20px;
}
.main h3{
font-size: 30px;
}
.main a{
  color: #ed0808;
}
.center{
  width: 700px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 20px;
  border-radius: 15px ; 
}


