@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import 'headfoot6.css';
@import 'index9.css';
@import 'logsign10.css';
:root{
    --green: #487f63;
    --gray: #fdf9f0;
    --blue: #1a2e39;
    --brown: #f0b86c;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    user-select: none;
}
main{
    margin:  161.2px;
}
a{
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: var(--blue);
}
button{
    border: none;
}
.pri-button, .sec-button{
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    transition: all .1s ease-in;
    box-shadow: 3px 5px 7px #ffffff40, -3px -5px 7px #44444420;
}
.pri-button{
    background-color: var(--green);
    color: var(--gray);
}
.sec-button{
    border: 1px solid var(--green);
}
.pri-button:hover{
    background-color: transparent;
    border: 1px solid var(--green);
}
.sec-button:hover{
    background-color: var(--green);
    color: var(--gray);
}
#main{ margin: 0; }