body{
    background-color: black;
}
/* CSS FOR ADD CATEGORY BOX */
#add-category{
    display: grid;
    height: 250px;
    width: 400px;
    margin: 80px 400px;
    /* margin-top: 60px; */
    background-color: #DA3E3E;
    grid-gap: 300px;
    row-gap: 100px;
    padding: 30px;
}

.label-category{
    background-color: black;
    color: white;
    font-size: xx-large;
    margin: 30px 60px 30px;
    margin-top: 50px;
    font-weight: bolder;
    
}

.input-name{
    background-color: white;
    border: 2px solid black;
    font-size: xx-large;
    width: 300px;
    margin: 50px 50px 50px 50px;;
}

.btn-add{
    background-color: black;
    color: white;
    font-size: xx-large;
    width: 150px;
    margin: 0px 120px;

}

/* CSS FOR HEADING */

.head{
    display: grid;
    height: 80px;
    width: 400px;
    background-color: #DA3E3E;
    margin: 20px 420px 0px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bolder;

}