body{
    /* background-image: url(../images/reg-and-login-bg1.jpg); */
    background-color: white;



}

h1{
    text-align: center;
    padding: 1%;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
    color: rgb(19, 17, 14);
    font-size: 40px;
    background: #DA3E3E;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 35%;
    width: 30%;
    border-radius: 50%;


}

h2{
    text-align: right;
    padding: 0.5%;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
    color: white;
    font-size: 15px;
    background: black;
    margin-bottom: 1%;
    /* margin-top: 2%; */ 
    margin-right: 10%;
    margin-left: 85%;
    width: 10%;
    border-radius: 0%;

}



a{
    text-decoration: none;
    color: black;

}

.links{
    text-decoration: none;
    padding: 1%;
    color: black;
    border-radius: 0px;
    font-size: 30px;
    text-align: center;
    background: #DA3E3E;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 30%;
    width: 40%;
    font-family: cursive;
}
